.colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: auto;
  height: 85vh;
  width: 70%;
}
button {
  outline: none;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(5px);
}

.redb {
  border-radius: 100% 0px 0px 0px;
  border: black;
}
.blueb {
  border-radius: 0px 100% 0px 0px;
  border: black;
}
.yellowb {
  border-radius: 0px 0px 0px 100%;
  border: black;
}
.greenb {
  border-radius: 0px 0px 100% 0px;
  border: black;
}
.levelB {
  height: 40px;
  width: 80px;
  opacity: 1;
}

.levelChoosen {
  opacity: 0.7;
  height: 50px;
  width: 100px;
  background-color: bisque;
}

.levelDiv {
  display: block;
  margin-top: 20%;
  margin-bottom: 20%;
  text-align: center;
}

.buttonBorder {
  border: black;
}

h3 {
  color: aqua;
  margin: auto;
  height: 70px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
}
h1 {
  color: beige;
}
h2 {
  color: bisque;
}

#startB {
  height: 70px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  background-color: bisque;
}

body {
  background-image: url("./img/backgroundWood.jpg");
  align-items: center;
  font-family: "Arvo", serif;
}

@media (min-width: 150px) and (max-width: 500px) {
  .colors {
    height: 45vh;
    width: 90%;
  }
  .levelB {
    height: 20px;
    width: 40px;
  }
  #startB {
    margin-top: 20px;
  }
}

@media (min-width: 501px) and (max-width: 880px) {
  .colors {
    height: 50vh;
    width: 70%;
  }
  .levelB {
    height: 20px;
    width: 40px;
  }
  #startB {
    margin-top: 20px;
  }
}

@media (min-width: 881px) and (max-width: 1350px) {
  .colors {
    height: 75vh;
    width: 70%;
  }
  .levelB {
    height: 20px;
    width: 40px;
  }
  #startB {
    margin-top: 20px;
  }
}
