.colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: auto;
  height: 500px;
  width: 70%;
  
}
button {
  outline: none;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.redb{
  border-radius:100% 0px 0px 0px;
  border: black;
  
}
.blueb{
  border-radius: 0px 100% 0px 0px;
  border: black;
}
.yellowb{
  border-radius: 0px 0px 0px 100%;
  border: black;
}
.greenb{
  border-radius: 0px 0px 100% 0px;
  border: black;
}
.levelB{
  height: 40px;
  width: 80px;
  opacity: 1.0;
}

.levelChoosen{
  opacity: 0.7;
  height: 50px;
  width: 100px;
  background-color: bisque;
}

.levelDiv{
  display: block;
  align-items: center;
  gap: 10px;
  margin-top: 25%;
    margin-bottom: 25%;
    text-align: center;
}

.buttonBorder {
  border: black;
}

h3 {
  color: aqua;
  margin: auto;
  height: 70px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
}
h1{
  color: beige;
}
h2{
  color: bisque;;
}

#startB {
  height: 70px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  background-color: bisque;
}


body {
  background-image: url("backgroundWood.jpg");
  align-items: center;
  font-family: 'Arvo', serif;
}

@media screen and (max-width: 600px) {
  .colors{
  height: 399px;
    width: 100%;
  }
  .levelB{
  height: 20px;
  width: 40px;
  }
  #startB{
    margin-top: 20px;
  }
}
